* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  margin-top: 0;
}

/* header */
.header {
  display: flex;
  border-bottom: 3px dotted #aaa;
  min-height: 80px;
  position: fixed;
  background-color: #fff;
  z-index: 1000;
  width: 100%;
}

.logo {
  width: auto;
  font-size: 24px;
  line-height: 50px;
  padding-left: 98px;
  margin-top: auto;
  margin-bottom: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  padding-right: 98px;

}

.menu {
  color: #2a2a2a;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  padding: 0 15px;
}

.menu i {
  font-size: 10px;
  padding-left: 8px;
}

li {
  list-style: none;
}

.dropdown {
  display: none;
}

#check {
  display: none;
}

#close-icon {
  display: none;
  font-size: 30px;
}

#menu-icon {
  font-size: 30px;
  display: none;
}

#checkbtn {
  position: absolute;
  top: 30%;
  right: 10%;
}

.menu:hover {
  color: #aaa;

}

.active {
  color: #aaa;
}

@media (max-width:1000px) {
  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 80px;
    height: 0;
    background-color: #f7f7f7;
    display: block;
    width: 60%;
    text-align: center;
    margin-left: 130px;
    line-height: 50px;
    padding: 0;
    overflow: hidden;
    transition: all ease 0.3s;
    margin-top: 0;
  }

  #check:checked~#checkbtn #menu-icon {
    display: none;
  }

  #check:checked~#checkbtn #close-icon {
    display: block;

  }

  #check:checked~.navbar {
    height: 350px;
  }

  .navbar li {
    border-top: 1px solid #eee;
    width: 100%;
  }

  .menu {
    font-size: 14px;
    height: 50px;
  }

  .navbar li:hover {
    background-color: #eee;
  }
}






@media (max-width:545px) {
  .navbar {
    width: 90%;
    margin-left: 0;
  }
}

/* main-banner */
.main-banner {
  padding-top: 180px;
  z-index: 999;
  position: relative;

}

.container-fluid {
  display: grid;
  grid-template-columns: 700px 600px;
  padding: 0 15px;
}

.inner-text {
  position: absolute;
  top: 40%;
  left: 10%;

}

.left-img {
  width: 100%;
  height: 90%;
}

.inner-heading {
  color: #fff;
  margin-top: -10px;
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 20px;
}

.inner-text span {
  color: #fff;
  font-style: italic;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
  display: block;
}

.main-btn {
  font-size: 13px;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 15px;
  background: transparent;
  font-weight: 500;
}

.right-content {

  padding: 15px 30px;
  height: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;

}

.inner-right-text {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
}

.women-right-img {
  background-image: url("https://templatemo.com/templates/templatemo_571_hexashop/assets/images/baner-right-image-01.jpg");

}

.men-right-img {
  background-image: url("https://templatemo.com/templates/templatemo_571_hexashop/assets/images/baner-right-image-02.jpg");

}

.kid-right-img {
  background-image: url("https://templatemo.com/templates/templatemo_571_hexashop/assets/images/baner-right-image-03.jpg");

}

.accessories-right-img {
  background-image: url("https://templatemo.com/templates/templatemo_571_hexashop/assets/images/baner-right-image-04.jpg");

}
.inner-right-heading{
  margin: 0;
  margin-bottom: 15px;
  color: #fff;
  font-size: 24px;
  font-weight: 700;

}
.inner-right-para{
  margin: 0;
  color: #fff;
  font-size: 16px;
  font-style: italic;
}
.hover-content{
  position: absolute;
  top: 5%;
  left: 5%;
  background-color: rgba(42, 42, 42, 0.99);
  text-align: center;
  visibility: hidden;
  transition: all ease 0.2s;
  width: 90%;
  height: 90%;
}
.inner-right-text:hover .hover-content{
  visibility: visible;
}
.hover-inner-heading {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
  padding-top: 15px;
  margin-top: 0;
}

.hover-inner-para {
  color: #fff;
  padding: 0 20px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 25px;
}

.hover-btn {
  border: 1px solid #fff;
  color: #fff;
  font-size: 13px;
  padding: 12px 25px;
  background-color: transparent;
}
.hover-btn:hover {
  background-color: #fff;
  color: #2a2a2a;
}
@media (max-width:1000px){
  .container-fluid{
    grid-template-columns: 1fr;
  }
  .right-content{
    grid-template-columns: 1fr;
  }
  .inner-right-text{
    height: 100%;
  }
}